@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Gracias por contactarme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section" id="portfolio">
        <div class="container text-center">
        <h6 class="section-title mb-6">Gracias por ponerte en contacto conmigo.</h6>
        <h4 class="section-subtitle mb-6">Te contestaré lo mas pronto posible.</h4>
            

                <div class="form-group col-sm-12 mt-3">
                    <a class="btn btn-primary rounded" asp-controller="Home" asp-action="Index" role="button">Regresar al Inicio</a>
                </div>

            </div><!-- end of container -->
        </section> <!-- end of portfolio section -->