<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LangingPage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LangingPage.styles.css" asp-append-version="true" />

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LangingPage</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> 
    </header>*@

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="#">Portafolio</a>
            <ul class="nav">
                <li class="item">
                    <a class="link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                </li>
                <li class="item">
                    <a class="link" href="#about">Acerca</a>
                </li>
                <li class="item">
                    <a class="link" href="#service">Habilidades</a>
                </li>
                <li class="item">
                    <a class="link" href="#portfolio">Portafolio</a>
                </li>
                <li class="item">
                    <a class="link" href="#contact">Contacto</a>
                </li>                
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav><!-- End of Page Navbar -->

        

            <!--BODY-->
            <main role="main" class="pb-3">
                @RenderBody()
            </main>


    <div class="container">
        <footer class="conteiner">
            <p class="mb-4">
                Landing Page
                <a href="https://github.com/davidsian804" target="_blank">GitHub/davidsian804</a>
            </p>
            <div class="social-links text-right m-auto ml-sm-auto">
                <a href="#"><i class="bi bi-facebook" text-color="black"></i></a>
            </div>
        </footer>
    </div>

    
    @*<!-- footer -->
    <div class="container">
        <footer class="footer">
            <p class="mb-0">
                Landig page
                <script>document.write(new Date().getFullYear())</script> 
                <a href="https://github.com/davidsian804" target="_blank"">GitHub</a>
            </p>
            <div class="social-links text-right m-auto ml-sm-auto">
                
                <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
            </div>
            
        </footer>
    </div> <!-- end of page footer -->*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- bootstrap 3 affix -->
    <script src="~/bootstrap/bootstrap.affix.js"></script>
    @*<script src="~/js/custom.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
